@using CollegeProject.Models.ViewModels
@model CourseModel
@{
  TempData["Title"] = "Add Course";
}
<div class="w-75 mx-auto">
  
  <form action="/Course/AddCourse" method="post">
    <div class="form-group">
      <label for="name">Enter Name</label>
      <input name="Name" class="form-control" id="name"/>
    </div>
    <div class="form-group">
      <label for="courseFee">Enter Fee</label>
      <input name="CourseFee" class="form-control" id="courseFee"/>
    </div>
    <button class="bg-primary mt-3 border-0 rounded px-3 py-2 text-light" type="submit">Save Course</button>
  </form>
</div>