<!-- The Modal -->
<div class="modal" id="confirmDialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirm!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Are you Sure?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <button id="confirmDelete" type="button" class="btn btn-danger" data-bs-dismiss="modal">Confirm</button>
      </div>

    </div>
  </div>
</div>