@using TaskTracker.Models.ViewModels
@model LoginVM

<div style="min-height:85vh;" class="d-flex justify-content-center align-content-center align-items-center">
    <div style="border-radius:1rem;" class="shadow-lg form-card">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="px-4 pt-3">
            <div class="d-flex justify-content-center p-2 border-1">
                <img style="height:50px;width:50px;"
                     class="rounded-full"
                     src="/images/pngegg.png" id="icon" alt="User Icon" />
            </div>
            <!-- Login Form -->
            <form asp-action="login" asp-route-returnUrl=@TempData["returnUrl"] class="mt-2">
                <div class="form-group">
                    <input type="text" asp-for=Email class="form-control" placeholder="Email">
                    <span style="font-size:12px;" class="text-danger" asp-validation-for=Email></span>
                </div>
                <div class="form-group my-2">
                    <input type="password" asp-for=Password class="form-control" placeholder="password">
                    <span style="font-size:12px;" class="text-danger" asp-validation-for="Password"></span>
                </div>
                <input style="width:100%;" type="submit" class="my-4 d-block px-4 m-0 py-2 btn btn-primary" value="Log In">
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
}
