@using CollegeProject.Models.ViewModels
@model IEnumerable<StudentModel>

@{
  AlertVM alert = new AlertVM() {Message = TempData["result"]?.ToString(), Type="success"};
}

@{
  ViewData["Title"] = "Student List";
}

<div>
  <p class="mb-3 border-bottom-2">Students that are registered currently for 2023</p>
  @if(TempData["result"] != null){<partial name="~/Views/Shared/partials/Common/_Alert.cshtml" model="alert" />}
  <a asp-action="AddStudent" asp-controller="Student" class="px-3 py-2 bg-primary text-light">Add Student</a>

  <div class="mt-4 row">
    @if(Model.Count() > 0) {
          foreach(var student in Model) {
            <div class="col-4">
              @{
                Html.RenderPartial("Partials/_Card.cshtml", student);
              }
            </div>
          }
        } else {
          <div>no students registered yet</div>
        }
  </div>



  @* <table class="table">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Student Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Actions</th>
          </tr>
      </thead>
      <tbody>
        @if(Model.Count() > 0) {
          foreach(var student in Model) {
            <tr>
                <td>@student.Name</td>
                <td>@student.Phone</td>
                <td>@student.Email</td>
                <td>
                    <div class="d-flex">
                    <a class="bg-danger px-3 py-2 text-light rounded" asp-controller="Course" asp-action="DeleteCourse" asp-route-Id=@student.Id>Delete</a>
                    <a class="bg-warning mx-2 px-3 py-2 text-light rounded" asp-controller="Course" asp-action="EditCourse" asp-route-Id=@student.Id>Edit</a>
                    </div>
                </td>
            </tr>
          }
        } else {
          <div>no students registered yet</div>
        }
      </tbody>
  </table> *@