@using CollegeProject.Models.ViewModels
@model IEnumerable<StudentModel>

@{
  AlertVM alert = new AlertVM() {Message = TempData["result"]?.ToString(), Type="success"};
}

@{
  ViewData["Title"] = "Student List";
}

<div>
  <p class="mb-3 border-bottom-2">Students that are registered currently for 2023</p>
  @if(TempData["result"] != null){<partial name="~/Views/Shared/partials/Common/_Alert.cshtml" model="alert" />}
  <a asp-action="AddStudent" asp-controller="Student" class="px-3 py-2 bg-primary text-light">Add Student</a>

  <div class="mt-4 row">
    @if(Model.Count() > 0) {
          foreach(var student in Model) {
            <div class="col-4">
              @{
                Html.RenderPartial("Partials/_Card.cshtml", student);
              }
            </div>
          }
        } else {
          <div>no students registered yet</div>
        }
  </div>


    @section Scripts {
        <script>
            function deleteStudent(id) {
                $('#deletePopup').show();
                $('#deletePopup').modal({ backdrop: 'static', keyboard: false })
                $("#confirm_button").attr("href", "/Student/DeleteStudent/" + id);
                $('#close_model').click(() => {
                    $('#deletePopup').hide();
                });
                $('#close_icon').click(() => {
                    $('#deletePopup').hide();
                });
            }
        </script>
    }
