@using TaskTracker.Models.ViewModels
@model ProjectTaskVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="d-flex justify-content-center align-content-center align-items-center">
    <div style="border-radius:1rem" class="w-100">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="px-4 pt-3">
            <!-- Login Form -->
            <form asp-action="AddTask" asp-controller="Task" asp-area="admin" class="mt-2">
                <div class="form-group">
                    <input asp-for=TaskName type="text" class="form-control" placeholder="Task Name">
                    <span class="text-danger" style="font-size:12px;" asp-validation-for=TaskName></span>
                </div>
                <div class="form-group my-2">
                    <input asp-for=TaskDescription type="text" class="form-control" placeholder="Enter Description">
                    <span class="text-danger" style="font-size:12px;" asp-validation-for=TaskDescription></span>
                </div>
                <div class="form-group my-2">
                    <label>Task Priority</label>
                    <select name="Priority" class="form-control">
                        <option value="1">LOW</option>
                        <option value="2">MEDIUM</option>
                        <option value="3">HIGH</option>
                    </select>
                </div>
                <div class="form-group my-2">
                    <label>Task Type</label>
                    <select name="TaskType" class="form-control">
                        <option value="1">BUG</option>
                        <option value="2">FEATURE</option>
                    </select>
                </div>

                <div class="form-group my-2">
                    <input asp-for=Deadline type="date" class="form-control" placeholder="Select Deadline">
                    <span class="text-danger" style="font-size:12px;" asp-validation-for=Deadline></span>
                </div>
                <div class="modal-footer mt-3 justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                @*<input style="width:100%;" type="submit" class="my-4 d-block px-4 m-0 py-2 btn btn-primary" value="Register">*@
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
}
