@using Microsoft.AspNetCore.Identity;
@using TaskTracker.Models
@inject SignInManager<SystemUser> signInManager

@if(signInManager.IsSignedIn(User)) {
    <span class="px-2 mx-4">@User.Identity?.Name</span>
    <a asp-controller="Account" asp-action="Logout" class="btn btn-warning me-4">Logout</a>
}
else {
    <a asp-controller="Account" asp-action="Login" class="btn btn-info text-light mx-2">Login</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary mx-2">Register</a>
}